{% extends 'base.html' %}

{% load static %}

{% block content %}

   <div class="main-template-about">
      <div class="section-gradient">
         <div class="map"></div>
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-lg-offset-2">
                  <div class="wow fadeIn" data-wow-delay="0.0s">
                     <h1>Eksklyuziv mebellar.
                        Uyngizga nafosat qo‘shing.
                     </h1>
                     <p class="lead">FurniStyle sizga eng sifatli va zamonaviy mebellarni taqdim etadi. Klassik, minimalistik yoki zamonaviy uslublarni qidiryapsizmi? Bizda barchasi bor!
                        <br>
                        <br>
                        Katalogimizni ko‘zdan keching va uyingizga mos mebelni toping!
                     </p>
                  </div>
                  <div class="about-icons row">
                     <div class="col-xs-4 wow fadeIn" data-wow-delay="0.0s"><img src="images/furniture-icon-1.png" alt=""/></div>
                     <div class="col-xs-4 wow fadeIn" data-wow-delay="0.2s"><img src="images/furniture-icon-2.png" alt=""/></div>
                     <div class="col-xs-4 wow fadeIn" data-wow-delay="0.4s"><img src="images/furniture-icon-3.png" alt=""/></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="section do">
         <div class="blue-light"></div>
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-lg-offset-2">
                  <div class="does-box">
                     <div class="panel-body">
                        <h2>Nega FurniStyle?</h2>
                        <p>Biz sizga yuqori sifatli, mustahkam va nafis mebellarni taqdim etamiz. Malakali ustalarimiz har bir mahsulotni e’tibor bilan ishlab chiqaradi.</p>
                        <p>Hasamatli divanlardan tortib nafis ovqatlanish stollarigacha, barcha mebel ehtiyojlaringizni qondiramiz.</p>
                     </div>
                     <img class="wow fadeIn" src="images/furniture-showcase.png" alt="" />
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="section account-box">
         <div class="blue-dark"></div>
         <div class="light-blue-grad"></div>
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-lg-offset-2">
                  <div class="blue-form">
                     <h2>Eksklyuziv takliflarni oling</h2>
                     <form class="form-inline">
                        <input type="email" placeholder="Emailingizni kiriting" />
                        <button type="submit" class="btn btn-primary">Obuna bo‘lish</button>
                     </form>
                     <p>Eng so‘nggi kolleksiyalar va chegirmalar haqida xabardor bo‘ling!</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="section-white">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-lg-offset-2">
                  <h2>FurniStyle haqida</h2>
                  <p>2010-yilda tashkil etilgan FurniStyle yuqori sifatli mebellarni taqdim etish bo‘yicha yetakchi brendlardan biridir.</p>
                  <p>Biz nafislik va qulaylikni uyg‘unlashtirgan sifatli mahsulotlarni ishlab chiqaramiz.</p>
               </div>
               <div class="col-lg-8 col-lg-offset-2 wow fadeIn" data-wow-delay="0.2s">
                  <img class="img-responsive" src="images/furniture-store.png" alt="" />
               </div>
               <div class="col-lg-8 col-lg-offset-2">
                  <h2>Bizning hamjamiyatga qo‘shiling</h2>
                  <p>Bizning katta oilamizning bir qismi bo‘ling va orzuingizdagi uyni yaratishda biz bilan birga bo‘ling.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
  
{% endblock content %}